# Courtesy of alch3my#9819
# Monitors hotend fan RPM (must be 3-wire fan configured with tachometer_pin) and runs FAN_STOPPAGE_ROUTINE in the event of a hotend fan failure.

# Start 1 sec after startup. 
[delayed_gcode CHECK_ALL_FANS]
initial_duration: 1
gcode:
    UPDATE_DELAYED_GCODE ID=CHECK_ALL_FANS DURATION=3   ; Invoke self (loop) every 3 seconds.
    HOTEND_FAN_CHECK                                    ; Run hotend fan check routine


[gcode_macro HOTEND_FAN_CHECK]
variable_he_stop_count: 0
gcode:
    {% set min_rpm = 3500|float %}
    {% set max_consecutive_stops = 3 %}
    {% set rpm = printer['heater_fan hotend_fan'].rpm|float %}
    {% set he_target = printer[printer.toolhead.extruder].target|float %}
    {% set he_temp = printer[printer.toolhead.extruder].temperature|float %}
    {% set fan_on_temp = printer.configfile.settings['heater_fan hotend_fan'].heater_temp|float %}
    {% set he_stop_count = printer["gcode_macro HOTEND_FAN_CHECK"].he_stop_count|int %}

    {% if (he_target >= fan_on_temp) and (rpm < min_rpm) and (he_temp >= fan_on_temp) %}
        SET_GCODE_VARIABLE MACRO=HOTEND_FAN_CHECK VARIABLE=he_stop_count VALUE={he_stop_count + 1}
        M118 WARNING: Fan stoppage detected ({he_stop_count+1}/{max_consecutive_stops}).
        M400
        {% if printer["gcode_macro HOTEND_FAN_CHECK"].he_stop_count|int >= max_consecutive_stops-1 %}
            FAN_STOPPAGE_ROUTINE
        {% endif %}
    {% else %}
        SET_GCODE_VARIABLE MACRO=HOTEND_FAN_CHECK VARIABLE=he_stop_count VALUE=0
    {% endif %}

[gcode_macro FAN_STOPPAGE_ROUTINE]
gcode:
    M117 !!FAN BLOCKED!!
    M118 FAN STOPPAGE DETECTED. PAUSING...
    LCDRGB R=1 G=0 B=1                            ; Turn LCD purple
    PAUSE                                         ; My pause macro turns off the hotend. 
    M104 S0                                       ; Turn off hotend again... just in case :)
