#Overrides of /klipper/klippy/extras/display/menu.cfg

#Disable OctoPrint menu
[menu __main __octoprint]
type: disabled

#OVERRIDE PAUSE
[menu __main __octoprint __pause]
type: command
enable: {printer.idle_timeout.state == "Printing"}
name: Pause printing
gcode:
    M600

[menu __main __octoprint __resume]
type: command
enable: {not printer.idle_timeout.state == "Printing"}
name: Resume printing
gcode:
    M601

#OVERRIDE INPUT_STEP DISTANCE
[menu __main __tune __offsetz]
type: input
name: Offset Z:{'%05.3f' % menu.input}
input: {printer.gcode_move.homing_origin.z}
input_min: -5
input_max: 5
input_step: 0.01
realtime: True
gcode:
    SET_GCODE_OFFSET Z={'%.3f' % menu.input} MOVE=1

#OVERRIDE FILAMENT MACROS / DISABLE "SLOW" VERSIONS
[menu __main __filament __loadf]
type: command
name: Load Filament
gcode:
	LOAD_FILAMENT
	
[menu __main __filament __loads]
enable: False
type: command
name: Load Fil. slow
gcode:
	LOAD_FILAMENT
	
[menu __main __filament __unloadf]
type: command
name: Unload Filament
gcode:
	UNLOAD_FILAMENT
	
[menu __main __filament __unloads]
enable: False
type: command
name: Unload Fil.slow
gcode:
	UNLOAD_FILAMENT

#ADD FAST FILAMENT FEED	
[menu __main __filament __feedfast]
type: input
name: Feed fast: {'%.1f' % menu.input}
input: 10
input_step: 10
gcode:
    SAVE_GCODE_STATE NAME=__filament__load
    M83
    G1 E{'%.1f' % menu.input} F300
    RESTORE_GCODE_STATE NAME=__filament__load
	
#ADDITIONAL CONTROL COMMANDS
[menu __main __control __G32]
type: command
enable: {not printer.idle_timeout.state == "Printing"}
name: G32
gcode: G32

[menu __main __control __QGL]
type: command
enable: {not printer.idle_timeout.state == "Printing"}
name: QGL
gcode: QUAD_GANTRY_LEVEL

[menu __main __control __mesh]
type: command
enable: {not printer.idle_timeout.state == "Printing"}
name: Mesh
gcode: BED_MESH_CALIBRATE

[menu __main __control __qglmesh]
type: command
enable: {not printer.idle_timeout.state == "Printing"}
name: QGL & Mesh
gcode: 
	QUAD_GANTRY_LEVEL
	BED_MESH_CALIBRATE

[menu __main __control __parkfront]
type: command
enable: {not printer.idle_timeout.state == "Printing"}
name: Park @ front
gcode: PARKFRONT

[menu __main __control __parkrear]
type: command
enable: {not printer.idle_timeout.state == "Printing"}
name: Park @ rear
gcode: PARKREAR

[menu __main __control __parkcenter]
type: command
enable: {not printer.idle_timeout.state == "Printing"}
name: Park @ center
gcode: PARKCENTER

[menu __main __control __parkbed]
type: command
enable: {not printer.idle_timeout.state == "Printing"}
name: Park @ bed
gcode: PARKBED

[menu __main __control __exhaustoff]
type: command
name: Exhaust off
gcode: SET_FAN_SPEED FAN=Exhaust SPEED=0
	
[menu __main __control __exhauston]
type: command
name: Exhaust on
gcode: SET_FAN_SPEED FAN=Exhaust SPEED=1

#ADD PETG PREHEAT
[menu __main __temp __preheat_petg]
type: list
name: Preheat PETG

[menu __main __temp __preheat_petg __all]
type: command
enable: {('extruder' in printer) and ('heater_bed' in printer)}
name: Preheat all
gcode:
    M140 S80
    M104 S230

[menu __main __temp __preheat_petg __hotend]
type: command
enable: {'extruder' in printer}
name: Preheat hotend
gcode: M104 S230

[menu __main __temp __preheat_petg __bed]
type: command
enable: {'heater_bed' in printer}
name: Preheat bed
gcode: M140 S80